@page "/admin"

@model Mission10_Bookstore.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <base href="/"/>
</head>

<body>

    <component type="typeof(Mission10_Bookstore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazer.server.js"></script>

</body>

</html>