@page "/admin"

@model Mission10_Bookstore.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <base href="/"/>
</head>

<body>

    <p>Testing 123</p>

</body>

</html>